{% extends "base.html" %}
{% block header %}
    {% include "partials/navbar.html"%}
{% endblock %}

{% block titulo %}
    Editar Notícia
{% endblock %}

{% block conteudo %}
<div class="container mt-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}}" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    
    <h1>Editar Notícia</h1>
    
    <form method="POST" enctype="multipart/form-data" action="{% url 'editar_noticia' noticia.id %}">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" value="{{ noticia.titulo }}" required>
        </div>

        <div class="mb-3">
            <label for="subtitulo" class="form-label">Subtítulo</label>
            <input type="text" class="form-control" id="subtitulo" name="subtitulo" value="{{ noticia.subtitulo }}">
        </div>

        <div class="mb-3">
            <label for="conteudo" class="form-label">Conteúdo</label>
            <textarea class="form-control" id="conteudo" name="conteudo" rows="10" required>{{ noticia.conteudo }}</textarea>
        </div>

        <div class="mb-3">
            <label for="imagem" class="form-label">Imagem</label>
            {% if noticia.imagem %}
                <div class="mb-3">
                    <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" class="img-fluid img-small" style="height: 200px; object-fit: cover;">
                </div>
            {% endif %}
            <input type="file" class="form-control" id="imagem" name="imagem">
        </div>
        <div class="mb-3">
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select class="form-control" id="categoria" name="categoria">
                    {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
            </div>
         </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'news_completa' noticia.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
